<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sss.diary"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="15" />
    
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- 主界面 -->
        <activity
            android:name=".activity.SloganActivity"
            android:label="@string/title_activity_diary"
             >
            <!-- android:theme="@android:style/Theme.Black.NoTitleBar" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.DiaryActivity"
            android:label="@string/title_activity_diary" />
        
        <activity
            android:name=".activity.DiaryEditActivity"
            android:label="@string/title_activity_diary_edit"
            android:theme="@android:style/Theme.Dialog" />
        
        <!-- 接受开机启动的广播 -->
		<receiver android:name=".BootReceiver">
		    <intent-filter>
		       <action android:name="android.intent.action.BOOT_COMPLETED" />
		       <category android:name="android.intent.category.HOME" />
		    </intent-filter> 
		</receiver>
		
        <!-- 后台主服务 -->
        <service android:name=".service.DiaryService"
            android:exported="true"
      		 android:enabled="true"
      		 android:label="@string/tc_service_title" />
    </application>

</manifest>